.bubble__arrow-pos-x-1:before, .bubble__arrow-pos-x-1:after {
  left: 1% !important;
}

.bubble__arrow-pos-y-1:before, .bubble__arrow-pos-y-1:after {
  top: 1% !important;
}

.bubble__arrow-pos-x-2:before, .bubble__arrow-pos-x-2:after {
  left: 2% !important;
}

.bubble__arrow-pos-y-2:before, .bubble__arrow-pos-y-2:after {
  top: 2% !important;
}

.bubble__arrow-pos-x-3:before, .bubble__arrow-pos-x-3:after {
  left: 3% !important;
}

.bubble__arrow-pos-y-3:before, .bubble__arrow-pos-y-3:after {
  top: 3% !important;
}

.bubble__arrow-pos-x-4:before, .bubble__arrow-pos-x-4:after {
  left: 4% !important;
}

.bubble__arrow-pos-y-4:before, .bubble__arrow-pos-y-4:after {
  top: 4% !important;
}

.bubble__arrow-pos-x-5:before, .bubble__arrow-pos-x-5:after {
  left: 5% !important;
}

.bubble__arrow-pos-y-5:before, .bubble__arrow-pos-y-5:after {
  top: 5% !important;
}

.bubble__arrow-pos-x-6:before, .bubble__arrow-pos-x-6:after {
  left: 6% !important;
}

.bubble__arrow-pos-y-6:before, .bubble__arrow-pos-y-6:after {
  top: 6% !important;
}

.bubble__arrow-pos-x-7:before, .bubble__arrow-pos-x-7:after {
  left: 7% !important;
}

.bubble__arrow-pos-y-7:before, .bubble__arrow-pos-y-7:after {
  top: 7% !important;
}

.bubble__arrow-pos-x-8:before, .bubble__arrow-pos-x-8:after {
  left: 8% !important;
}

.bubble__arrow-pos-y-8:before, .bubble__arrow-pos-y-8:after {
  top: 8% !important;
}

.bubble__arrow-pos-x-9:before, .bubble__arrow-pos-x-9:after {
  left: 9% !important;
}

.bubble__arrow-pos-y-9:before, .bubble__arrow-pos-y-9:after {
  top: 9% !important;
}

.bubble__arrow-pos-x-10:before, .bubble__arrow-pos-x-10:after {
  left: 10% !important;
}

.bubble__arrow-pos-y-10:before, .bubble__arrow-pos-y-10:after {
  top: 10% !important;
}

.bubble__arrow-pos-x-11:before, .bubble__arrow-pos-x-11:after {
  left: 11% !important;
}

.bubble__arrow-pos-y-11:before, .bubble__arrow-pos-y-11:after {
  top: 11% !important;
}

.bubble__arrow-pos-x-12:before, .bubble__arrow-pos-x-12:after {
  left: 12% !important;
}

.bubble__arrow-pos-y-12:before, .bubble__arrow-pos-y-12:after {
  top: 12% !important;
}

.bubble__arrow-pos-x-13:before, .bubble__arrow-pos-x-13:after {
  left: 13% !important;
}

.bubble__arrow-pos-y-13:before, .bubble__arrow-pos-y-13:after {
  top: 13% !important;
}

.bubble__arrow-pos-x-14:before, .bubble__arrow-pos-x-14:after {
  left: 14% !important;
}

.bubble__arrow-pos-y-14:before, .bubble__arrow-pos-y-14:after {
  top: 14% !important;
}

.bubble__arrow-pos-x-15:before, .bubble__arrow-pos-x-15:after {
  left: 15% !important;
}

.bubble__arrow-pos-y-15:before, .bubble__arrow-pos-y-15:after {
  top: 15% !important;
}

.bubble__arrow-pos-x-16:before, .bubble__arrow-pos-x-16:after {
  left: 16% !important;
}

.bubble__arrow-pos-y-16:before, .bubble__arrow-pos-y-16:after {
  top: 16% !important;
}

.bubble__arrow-pos-x-17:before, .bubble__arrow-pos-x-17:after {
  left: 17% !important;
}

.bubble__arrow-pos-y-17:before, .bubble__arrow-pos-y-17:after {
  top: 17% !important;
}

.bubble__arrow-pos-x-18:before, .bubble__arrow-pos-x-18:after {
  left: 18% !important;
}

.bubble__arrow-pos-y-18:before, .bubble__arrow-pos-y-18:after {
  top: 18% !important;
}

.bubble__arrow-pos-x-19:before, .bubble__arrow-pos-x-19:after {
  left: 19% !important;
}

.bubble__arrow-pos-y-19:before, .bubble__arrow-pos-y-19:after {
  top: 19% !important;
}

.bubble__arrow-pos-x-20:before, .bubble__arrow-pos-x-20:after {
  left: 20% !important;
}

.bubble__arrow-pos-y-20:before, .bubble__arrow-pos-y-20:after {
  top: 20% !important;
}

.bubble__arrow-pos-x-21:before, .bubble__arrow-pos-x-21:after {
  left: 21% !important;
}

.bubble__arrow-pos-y-21:before, .bubble__arrow-pos-y-21:after {
  top: 21% !important;
}

.bubble__arrow-pos-x-22:before, .bubble__arrow-pos-x-22:after {
  left: 22% !important;
}

.bubble__arrow-pos-y-22:before, .bubble__arrow-pos-y-22:after {
  top: 22% !important;
}

.bubble__arrow-pos-x-23:before, .bubble__arrow-pos-x-23:after {
  left: 23% !important;
}

.bubble__arrow-pos-y-23:before, .bubble__arrow-pos-y-23:after {
  top: 23% !important;
}

.bubble__arrow-pos-x-24:before, .bubble__arrow-pos-x-24:after {
  left: 24% !important;
}

.bubble__arrow-pos-y-24:before, .bubble__arrow-pos-y-24:after {
  top: 24% !important;
}

.bubble__arrow-pos-x-25:before, .bubble__arrow-pos-x-25:after {
  left: 25% !important;
}

.bubble__arrow-pos-y-25:before, .bubble__arrow-pos-y-25:after {
  top: 25% !important;
}

.bubble__arrow-pos-x-26:before, .bubble__arrow-pos-x-26:after {
  left: 26% !important;
}

.bubble__arrow-pos-y-26:before, .bubble__arrow-pos-y-26:after {
  top: 26% !important;
}

.bubble__arrow-pos-x-27:before, .bubble__arrow-pos-x-27:after {
  left: 27% !important;
}

.bubble__arrow-pos-y-27:before, .bubble__arrow-pos-y-27:after {
  top: 27% !important;
}

.bubble__arrow-pos-x-28:before, .bubble__arrow-pos-x-28:after {
  left: 28% !important;
}

.bubble__arrow-pos-y-28:before, .bubble__arrow-pos-y-28:after {
  top: 28% !important;
}

.bubble__arrow-pos-x-29:before, .bubble__arrow-pos-x-29:after {
  left: 29% !important;
}

.bubble__arrow-pos-y-29:before, .bubble__arrow-pos-y-29:after {
  top: 29% !important;
}

.bubble__arrow-pos-x-30:before, .bubble__arrow-pos-x-30:after {
  left: 30% !important;
}

.bubble__arrow-pos-y-30:before, .bubble__arrow-pos-y-30:after {
  top: 30% !important;
}

.bubble__arrow-pos-x-31:before, .bubble__arrow-pos-x-31:after {
  left: 31% !important;
}

.bubble__arrow-pos-y-31:before, .bubble__arrow-pos-y-31:after {
  top: 31% !important;
}

.bubble__arrow-pos-x-32:before, .bubble__arrow-pos-x-32:after {
  left: 32% !important;
}

.bubble__arrow-pos-y-32:before, .bubble__arrow-pos-y-32:after {
  top: 32% !important;
}

.bubble__arrow-pos-x-33:before, .bubble__arrow-pos-x-33:after {
  left: 33% !important;
}

.bubble__arrow-pos-y-33:before, .bubble__arrow-pos-y-33:after {
  top: 33% !important;
}

.bubble__arrow-pos-x-34:before, .bubble__arrow-pos-x-34:after {
  left: 34% !important;
}

.bubble__arrow-pos-y-34:before, .bubble__arrow-pos-y-34:after {
  top: 34% !important;
}

.bubble__arrow-pos-x-35:before, .bubble__arrow-pos-x-35:after {
  left: 35% !important;
}

.bubble__arrow-pos-y-35:before, .bubble__arrow-pos-y-35:after {
  top: 35% !important;
}

.bubble__arrow-pos-x-36:before, .bubble__arrow-pos-x-36:after {
  left: 36% !important;
}

.bubble__arrow-pos-y-36:before, .bubble__arrow-pos-y-36:after {
  top: 36% !important;
}

.bubble__arrow-pos-x-37:before, .bubble__arrow-pos-x-37:after {
  left: 37% !important;
}

.bubble__arrow-pos-y-37:before, .bubble__arrow-pos-y-37:after {
  top: 37% !important;
}

.bubble__arrow-pos-x-38:before, .bubble__arrow-pos-x-38:after {
  left: 38% !important;
}

.bubble__arrow-pos-y-38:before, .bubble__arrow-pos-y-38:after {
  top: 38% !important;
}

.bubble__arrow-pos-x-39:before, .bubble__arrow-pos-x-39:after {
  left: 39% !important;
}

.bubble__arrow-pos-y-39:before, .bubble__arrow-pos-y-39:after {
  top: 39% !important;
}

.bubble__arrow-pos-x-40:before, .bubble__arrow-pos-x-40:after {
  left: 40% !important;
}

.bubble__arrow-pos-y-40:before, .bubble__arrow-pos-y-40:after {
  top: 40% !important;
}

.bubble__arrow-pos-x-41:before, .bubble__arrow-pos-x-41:after {
  left: 41% !important;
}

.bubble__arrow-pos-y-41:before, .bubble__arrow-pos-y-41:after {
  top: 41% !important;
}

.bubble__arrow-pos-x-42:before, .bubble__arrow-pos-x-42:after {
  left: 42% !important;
}

.bubble__arrow-pos-y-42:before, .bubble__arrow-pos-y-42:after {
  top: 42% !important;
}

.bubble__arrow-pos-x-43:before, .bubble__arrow-pos-x-43:after {
  left: 43% !important;
}

.bubble__arrow-pos-y-43:before, .bubble__arrow-pos-y-43:after {
  top: 43% !important;
}

.bubble__arrow-pos-x-44:before, .bubble__arrow-pos-x-44:after {
  left: 44% !important;
}

.bubble__arrow-pos-y-44:before, .bubble__arrow-pos-y-44:after {
  top: 44% !important;
}

.bubble__arrow-pos-x-45:before, .bubble__arrow-pos-x-45:after {
  left: 45% !important;
}

.bubble__arrow-pos-y-45:before, .bubble__arrow-pos-y-45:after {
  top: 45% !important;
}

.bubble__arrow-pos-x-46:before, .bubble__arrow-pos-x-46:after {
  left: 46% !important;
}

.bubble__arrow-pos-y-46:before, .bubble__arrow-pos-y-46:after {
  top: 46% !important;
}

.bubble__arrow-pos-x-47:before, .bubble__arrow-pos-x-47:after {
  left: 47% !important;
}

.bubble__arrow-pos-y-47:before, .bubble__arrow-pos-y-47:after {
  top: 47% !important;
}

.bubble__arrow-pos-x-48:before, .bubble__arrow-pos-x-48:after {
  left: 48% !important;
}

.bubble__arrow-pos-y-48:before, .bubble__arrow-pos-y-48:after {
  top: 48% !important;
}

.bubble__arrow-pos-x-49:before, .bubble__arrow-pos-x-49:after {
  left: 49% !important;
}

.bubble__arrow-pos-y-49:before, .bubble__arrow-pos-y-49:after {
  top: 49% !important;
}

.bubble__arrow-pos-x-50:before, .bubble__arrow-pos-x-50:after {
  left: 50% !important;
}

.bubble__arrow-pos-y-50:before, .bubble__arrow-pos-y-50:after {
  top: 50% !important;
}

.bubble__arrow-pos-x-51:before, .bubble__arrow-pos-x-51:after {
  left: 51% !important;
}

.bubble__arrow-pos-y-51:before, .bubble__arrow-pos-y-51:after {
  top: 51% !important;
}

.bubble__arrow-pos-x-52:before, .bubble__arrow-pos-x-52:after {
  left: 52% !important;
}

.bubble__arrow-pos-y-52:before, .bubble__arrow-pos-y-52:after {
  top: 52% !important;
}

.bubble__arrow-pos-x-53:before, .bubble__arrow-pos-x-53:after {
  left: 53% !important;
}

.bubble__arrow-pos-y-53:before, .bubble__arrow-pos-y-53:after {
  top: 53% !important;
}

.bubble__arrow-pos-x-54:before, .bubble__arrow-pos-x-54:after {
  left: 54% !important;
}

.bubble__arrow-pos-y-54:before, .bubble__arrow-pos-y-54:after {
  top: 54% !important;
}

.bubble__arrow-pos-x-55:before, .bubble__arrow-pos-x-55:after {
  left: 55% !important;
}

.bubble__arrow-pos-y-55:before, .bubble__arrow-pos-y-55:after {
  top: 55% !important;
}

.bubble__arrow-pos-x-56:before, .bubble__arrow-pos-x-56:after {
  left: 56% !important;
}

.bubble__arrow-pos-y-56:before, .bubble__arrow-pos-y-56:after {
  top: 56% !important;
}

.bubble__arrow-pos-x-57:before, .bubble__arrow-pos-x-57:after {
  left: 57% !important;
}

.bubble__arrow-pos-y-57:before, .bubble__arrow-pos-y-57:after {
  top: 57% !important;
}

.bubble__arrow-pos-x-58:before, .bubble__arrow-pos-x-58:after {
  left: 58% !important;
}

.bubble__arrow-pos-y-58:before, .bubble__arrow-pos-y-58:after {
  top: 58% !important;
}

.bubble__arrow-pos-x-59:before, .bubble__arrow-pos-x-59:after {
  left: 59% !important;
}

.bubble__arrow-pos-y-59:before, .bubble__arrow-pos-y-59:after {
  top: 59% !important;
}

.bubble__arrow-pos-x-60:before, .bubble__arrow-pos-x-60:after {
  left: 60% !important;
}

.bubble__arrow-pos-y-60:before, .bubble__arrow-pos-y-60:after {
  top: 60% !important;
}

.bubble__arrow-pos-x-61:before, .bubble__arrow-pos-x-61:after {
  left: 61% !important;
}

.bubble__arrow-pos-y-61:before, .bubble__arrow-pos-y-61:after {
  top: 61% !important;
}

.bubble__arrow-pos-x-62:before, .bubble__arrow-pos-x-62:after {
  left: 62% !important;
}

.bubble__arrow-pos-y-62:before, .bubble__arrow-pos-y-62:after {
  top: 62% !important;
}

.bubble__arrow-pos-x-63:before, .bubble__arrow-pos-x-63:after {
  left: 63% !important;
}

.bubble__arrow-pos-y-63:before, .bubble__arrow-pos-y-63:after {
  top: 63% !important;
}

.bubble__arrow-pos-x-64:before, .bubble__arrow-pos-x-64:after {
  left: 64% !important;
}

.bubble__arrow-pos-y-64:before, .bubble__arrow-pos-y-64:after {
  top: 64% !important;
}

.bubble__arrow-pos-x-65:before, .bubble__arrow-pos-x-65:after {
  left: 65% !important;
}

.bubble__arrow-pos-y-65:before, .bubble__arrow-pos-y-65:after {
  top: 65% !important;
}

.bubble__arrow-pos-x-66:before, .bubble__arrow-pos-x-66:after {
  left: 66% !important;
}

.bubble__arrow-pos-y-66:before, .bubble__arrow-pos-y-66:after {
  top: 66% !important;
}

.bubble__arrow-pos-x-67:before, .bubble__arrow-pos-x-67:after {
  left: 67% !important;
}

.bubble__arrow-pos-y-67:before, .bubble__arrow-pos-y-67:after {
  top: 67% !important;
}

.bubble__arrow-pos-x-68:before, .bubble__arrow-pos-x-68:after {
  left: 68% !important;
}

.bubble__arrow-pos-y-68:before, .bubble__arrow-pos-y-68:after {
  top: 68% !important;
}

.bubble__arrow-pos-x-69:before, .bubble__arrow-pos-x-69:after {
  left: 69% !important;
}

.bubble__arrow-pos-y-69:before, .bubble__arrow-pos-y-69:after {
  top: 69% !important;
}

.bubble__arrow-pos-x-70:before, .bubble__arrow-pos-x-70:after {
  left: 70% !important;
}

.bubble__arrow-pos-y-70:before, .bubble__arrow-pos-y-70:after {
  top: 70% !important;
}

.bubble__arrow-pos-x-71:before, .bubble__arrow-pos-x-71:after {
  left: 71% !important;
}

.bubble__arrow-pos-y-71:before, .bubble__arrow-pos-y-71:after {
  top: 71% !important;
}

.bubble__arrow-pos-x-72:before, .bubble__arrow-pos-x-72:after {
  left: 72% !important;
}

.bubble__arrow-pos-y-72:before, .bubble__arrow-pos-y-72:after {
  top: 72% !important;
}

.bubble__arrow-pos-x-73:before, .bubble__arrow-pos-x-73:after {
  left: 73% !important;
}

.bubble__arrow-pos-y-73:before, .bubble__arrow-pos-y-73:after {
  top: 73% !important;
}

.bubble__arrow-pos-x-74:before, .bubble__arrow-pos-x-74:after {
  left: 74% !important;
}

.bubble__arrow-pos-y-74:before, .bubble__arrow-pos-y-74:after {
  top: 74% !important;
}

.bubble__arrow-pos-x-75:before, .bubble__arrow-pos-x-75:after {
  left: 75% !important;
}

.bubble__arrow-pos-y-75:before, .bubble__arrow-pos-y-75:after {
  top: 75% !important;
}

.bubble__arrow-pos-x-76:before, .bubble__arrow-pos-x-76:after {
  left: 76% !important;
}

.bubble__arrow-pos-y-76:before, .bubble__arrow-pos-y-76:after {
  top: 76% !important;
}

.bubble__arrow-pos-x-77:before, .bubble__arrow-pos-x-77:after {
  left: 77% !important;
}

.bubble__arrow-pos-y-77:before, .bubble__arrow-pos-y-77:after {
  top: 77% !important;
}

.bubble__arrow-pos-x-78:before, .bubble__arrow-pos-x-78:after {
  left: 78% !important;
}

.bubble__arrow-pos-y-78:before, .bubble__arrow-pos-y-78:after {
  top: 78% !important;
}

.bubble__arrow-pos-x-79:before, .bubble__arrow-pos-x-79:after {
  left: 79% !important;
}

.bubble__arrow-pos-y-79:before, .bubble__arrow-pos-y-79:after {
  top: 79% !important;
}

.bubble__arrow-pos-x-80:before, .bubble__arrow-pos-x-80:after {
  left: 80% !important;
}

.bubble__arrow-pos-y-80:before, .bubble__arrow-pos-y-80:after {
  top: 80% !important;
}

.bubble__arrow-pos-x-81:before, .bubble__arrow-pos-x-81:after {
  left: 81% !important;
}

.bubble__arrow-pos-y-81:before, .bubble__arrow-pos-y-81:after {
  top: 81% !important;
}

.bubble__arrow-pos-x-82:before, .bubble__arrow-pos-x-82:after {
  left: 82% !important;
}

.bubble__arrow-pos-y-82:before, .bubble__arrow-pos-y-82:after {
  top: 82% !important;
}

.bubble__arrow-pos-x-83:before, .bubble__arrow-pos-x-83:after {
  left: 83% !important;
}

.bubble__arrow-pos-y-83:before, .bubble__arrow-pos-y-83:after {
  top: 83% !important;
}

.bubble__arrow-pos-x-84:before, .bubble__arrow-pos-x-84:after {
  left: 84% !important;
}

.bubble__arrow-pos-y-84:before, .bubble__arrow-pos-y-84:after {
  top: 84% !important;
}

.bubble__arrow-pos-x-85:before, .bubble__arrow-pos-x-85:after {
  left: 85% !important;
}

.bubble__arrow-pos-y-85:before, .bubble__arrow-pos-y-85:after {
  top: 85% !important;
}

.bubble__arrow-pos-x-86:before, .bubble__arrow-pos-x-86:after {
  left: 86% !important;
}

.bubble__arrow-pos-y-86:before, .bubble__arrow-pos-y-86:after {
  top: 86% !important;
}

.bubble__arrow-pos-x-87:before, .bubble__arrow-pos-x-87:after {
  left: 87% !important;
}

.bubble__arrow-pos-y-87:before, .bubble__arrow-pos-y-87:after {
  top: 87% !important;
}

.bubble__arrow-pos-x-88:before, .bubble__arrow-pos-x-88:after {
  left: 88% !important;
}

.bubble__arrow-pos-y-88:before, .bubble__arrow-pos-y-88:after {
  top: 88% !important;
}

.bubble__arrow-pos-x-89:before, .bubble__arrow-pos-x-89:after {
  left: 89% !important;
}

.bubble__arrow-pos-y-89:before, .bubble__arrow-pos-y-89:after {
  top: 89% !important;
}

.bubble__arrow-pos-x-90:before, .bubble__arrow-pos-x-90:after {
  left: 90% !important;
}

.bubble__arrow-pos-y-90:before, .bubble__arrow-pos-y-90:after {
  top: 90% !important;
}

.bubble__arrow-pos-x-91:before, .bubble__arrow-pos-x-91:after {
  left: 91% !important;
}

.bubble__arrow-pos-y-91:before, .bubble__arrow-pos-y-91:after {
  top: 91% !important;
}

.bubble__arrow-pos-x-92:before, .bubble__arrow-pos-x-92:after {
  left: 92% !important;
}

.bubble__arrow-pos-y-92:before, .bubble__arrow-pos-y-92:after {
  top: 92% !important;
}

.bubble__arrow-pos-x-93:before, .bubble__arrow-pos-x-93:after {
  left: 93% !important;
}

.bubble__arrow-pos-y-93:before, .bubble__arrow-pos-y-93:after {
  top: 93% !important;
}

.bubble__arrow-pos-x-94:before, .bubble__arrow-pos-x-94:after {
  left: 94% !important;
}

.bubble__arrow-pos-y-94:before, .bubble__arrow-pos-y-94:after {
  top: 94% !important;
}

.bubble__arrow-pos-x-95:before, .bubble__arrow-pos-x-95:after {
  left: 95% !important;
}

.bubble__arrow-pos-y-95:before, .bubble__arrow-pos-y-95:after {
  top: 95% !important;
}

.bubble__arrow-pos-x-96:before, .bubble__arrow-pos-x-96:after {
  left: 96% !important;
}

.bubble__arrow-pos-y-96:before, .bubble__arrow-pos-y-96:after {
  top: 96% !important;
}

.bubble__arrow-pos-x-97:before, .bubble__arrow-pos-x-97:after {
  left: 97% !important;
}

.bubble__arrow-pos-y-97:before, .bubble__arrow-pos-y-97:after {
  top: 97% !important;
}

.bubble__arrow-pos-x-98:before, .bubble__arrow-pos-x-98:after {
  left: 98% !important;
}

.bubble__arrow-pos-y-98:before, .bubble__arrow-pos-y-98:after {
  top: 98% !important;
}

.bubble__arrow-pos-x-99:before, .bubble__arrow-pos-x-99:after {
  left: 99% !important;
}

.bubble__arrow-pos-y-99:before, .bubble__arrow-pos-y-99:after {
  top: 99% !important;
}

.bubble__arrow-pos-x-100:before, .bubble__arrow-pos-x-100:after {
  left: 100% !important;
}

.bubble__arrow-pos-y-100:before, .bubble__arrow-pos-y-100:after {
  top: 100% !important;
}

.bubble--padding-1 {
  padding: 1px !important;
}

.bubble--padding-2 {
  padding: 2px !important;
}

.bubble--padding-3 {
  padding: 3px !important;
}

.bubble--padding-4 {
  padding: 4px !important;
}

.bubble--padding-5 {
  padding: 5px !important;
}

.bubble--padding-6 {
  padding: 6px !important;
}

.bubble--padding-7 {
  padding: 7px !important;
}

.bubble--padding-8 {
  padding: 8px !important;
}

.bubble--padding-9 {
  padding: 9px !important;
}

.bubble--padding-10 {
  padding: 10px !important;
}

.bubble--padding-11 {
  padding: 11px !important;
}

.bubble--padding-12 {
  padding: 12px !important;
}

.bubble--padding-13 {
  padding: 13px !important;
}

.bubble--padding-14 {
  padding: 14px !important;
}

.bubble--padding-15 {
  padding: 15px !important;
}

.bubble--padding-16 {
  padding: 16px !important;
}

.bubble--padding-17 {
  padding: 17px !important;
}

.bubble--padding-18 {
  padding: 18px !important;
}

.bubble--padding-19 {
  padding: 19px !important;
}

.bubble--padding-20 {
  padding: 20px !important;
}

.bubble--padding-21 {
  padding: 21px !important;
}

.bubble--padding-22 {
  padding: 22px !important;
}

.bubble--padding-23 {
  padding: 23px !important;
}

.bubble--padding-24 {
  padding: 24px !important;
}

.bubble--padding-25 {
  padding: 25px !important;
}

.bubble--padding-26 {
  padding: 26px !important;
}

.bubble--padding-27 {
  padding: 27px !important;
}

.bubble--padding-28 {
  padding: 28px !important;
}

.bubble--padding-29 {
  padding: 29px !important;
}

.bubble--padding-30 {
  padding: 30px !important;
}

.bubble--padding-31 {
  padding: 31px !important;
}

.bubble--padding-32 {
  padding: 32px !important;
}

.bubble--padding-33 {
  padding: 33px !important;
}

.bubble--padding-34 {
  padding: 34px !important;
}

.bubble--padding-35 {
  padding: 35px !important;
}

.bubble--padding-36 {
  padding: 36px !important;
}

.bubble--padding-37 {
  padding: 37px !important;
}

.bubble--padding-38 {
  padding: 38px !important;
}

.bubble--padding-39 {
  padding: 39px !important;
}

.bubble--padding-40 {
  padding: 40px !important;
}

.bubble--padding-41 {
  padding: 41px !important;
}

.bubble--padding-42 {
  padding: 42px !important;
}

.bubble--padding-43 {
  padding: 43px !important;
}

.bubble--padding-44 {
  padding: 44px !important;
}

.bubble--padding-45 {
  padding: 45px !important;
}

.bubble--padding-46 {
  padding: 46px !important;
}

.bubble--padding-47 {
  padding: 47px !important;
}

.bubble--padding-48 {
  padding: 48px !important;
}

.bubble--padding-49 {
  padding: 49px !important;
}

.bubble--padding-50 {
  padding: 50px !important;
}

.bubble--padding-51 {
  padding: 51px !important;
}

.bubble--padding-52 {
  padding: 52px !important;
}

.bubble--padding-53 {
  padding: 53px !important;
}

.bubble--padding-54 {
  padding: 54px !important;
}

.bubble--padding-55 {
  padding: 55px !important;
}

.bubble--padding-56 {
  padding: 56px !important;
}

.bubble--padding-57 {
  padding: 57px !important;
}

.bubble--padding-58 {
  padding: 58px !important;
}

.bubble--padding-59 {
  padding: 59px !important;
}

.bubble--padding-60 {
  padding: 60px !important;
}

.bubble--padding-61 {
  padding: 61px !important;
}

.bubble--padding-62 {
  padding: 62px !important;
}

.bubble--padding-63 {
  padding: 63px !important;
}

.bubble--padding-64 {
  padding: 64px !important;
}

.bubble--padding-65 {
  padding: 65px !important;
}

.bubble--padding-66 {
  padding: 66px !important;
}

.bubble--padding-67 {
  padding: 67px !important;
}

.bubble--padding-68 {
  padding: 68px !important;
}

.bubble--padding-69 {
  padding: 69px !important;
}

.bubble--padding-70 {
  padding: 70px !important;
}

.bubble--padding-71 {
  padding: 71px !important;
}

.bubble--padding-72 {
  padding: 72px !important;
}

.bubble--padding-73 {
  padding: 73px !important;
}

.bubble--padding-74 {
  padding: 74px !important;
}

.bubble--padding-75 {
  padding: 75px !important;
}

.bubble--padding-76 {
  padding: 76px !important;
}

.bubble--padding-77 {
  padding: 77px !important;
}

.bubble--padding-78 {
  padding: 78px !important;
}

.bubble--padding-79 {
  padding: 79px !important;
}

.bubble--padding-80 {
  padding: 80px !important;
}

.bubble--padding-81 {
  padding: 81px !important;
}

.bubble--padding-82 {
  padding: 82px !important;
}

.bubble--padding-83 {
  padding: 83px !important;
}

.bubble--padding-84 {
  padding: 84px !important;
}

.bubble--padding-85 {
  padding: 85px !important;
}

.bubble--padding-86 {
  padding: 86px !important;
}

.bubble--padding-87 {
  padding: 87px !important;
}

.bubble--padding-88 {
  padding: 88px !important;
}

.bubble--padding-89 {
  padding: 89px !important;
}

.bubble--padding-90 {
  padding: 90px !important;
}

.bubble--padding-91 {
  padding: 91px !important;
}

.bubble--padding-92 {
  padding: 92px !important;
}

.bubble--padding-93 {
  padding: 93px !important;
}

.bubble--padding-94 {
  padding: 94px !important;
}

.bubble--padding-95 {
  padding: 95px !important;
}

.bubble--padding-96 {
  padding: 96px !important;
}

.bubble--padding-97 {
  padding: 97px !important;
}

.bubble--padding-98 {
  padding: 98px !important;
}

.bubble--padding-99 {
  padding: 99px !important;
}

.bubble--padding-100 {
  padding: 100px !important;
}

.wrapper {
  margin: 30px;
}

.with-border {
  border: 1px solid #666;
}

.bubble {
  background: #fff;
  border-radius: 0;
  color: #f00;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  position: relative;
}

.bubble:before, .bubble:after {
  height: 0;
  border: 8px solid transparent;
  content: "";
  position: absolute;
  width: 0;
  z-index: 5;
}

.bubble:after {
  z-index: 4;
}

.bubble__arrow-top:before, .bubble__arrow-top:after, .bubble__arrow-bottom:before, .bubble__arrow-bottom:after {
  left: 50%;
  margin-left: -8px;
}

.bubble__arrow-top:before {
  border-bottom-color: #fff;
  top: -16px;
}

.bubble__arrow-top.with-border:after {
  border-bottom-color: #666;
  border-width: 9px;
  margin-left: -9px;
  top: -18px;
}

.bubble__arrow-bottom:before {
  border-top-color: #fff;
  bottom: -16px;
}

.bubble__arrow-bottom.with-border:after {
  border-top-color: #666;
  border-width: 9px;
  margin-left: -9px;
  bottom: -18px;
}

.bubble__arrow-right:before, .bubble__arrow-right:after, .bubble__arrow-left:before, .bubble__arrow-left:after {
  top: 50%;
  margin-top: -8px;
}

.bubble__arrow-right:before {
  border-left-color: #fff;
  right: -16px;
}

.bubble__arrow-right.with-border:after {
  border-left-color: #666;
  border-width: 9px;
  margin-top: -9px;
  right: -18px;
}

.bubble__arrow-left:before {
  border-right-color: #fff;
  left: -16px;
}

.bubble__arrow-left.with-border:after {
  border-right-color: #666;
  border-width: 9px;
  margin-top: -9px;
  left: -18px;
}

.main-wrapper {
  border: 1px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

header {
  background-color: #8a0b0b;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.content {
  background-color: #6f60ee;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

aside {
  background-color: #b2b2b8;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

footer {
  background-color: #0a5e42;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

@media screen and (min-width: 600px) {
  .content {
    background-color: #6f60ee;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  aside {
    background-color: #b2b2b8;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    grid-column: 4;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
