/*
grid mixins
*/
.headline {
  font-family: 'UnifrakturMaguntia', cursive;
}

.headline--big {
  font-size: 50px;
  font-size: 3.125rem;
}

.site-header .headline {
  text-align: center;
  margin: 20px 0;
}

/*

infos zun grid
 
*/
/*
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Sancreek', cursive;
font-family: 'Maiden Orange', cursive;
font-family: 'UnifrakturCook', cursive;
*/
.site {
  display: -ms-grid;
  display: grid;
  background-image: url(../images/page-kachel-bg.jpg);
  background-repeat: repeat;
  border: 1px solid #c78e14;
  -ms-grid-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-columns: repeat(8, 12.5%);
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.main-navigation {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
  border-bottom: 2px solid #8e5722;
  border-top: 2px solid #8e5722;
}

.main-navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.main-navigation__list__item__link {
  font-size: 27px;
  font-size: 1.6875rem;
  color: #653e18;
  font-family: 'UnifrakturCook', cursive;
  display: block;
  cursor: pointer;
  padding: 20px 0;
  text-decoration: none;
}

.main-content {
  background-color: #b9c5c0;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.aside {
  background-color: #777e7b;
}

.aside--first {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.aside--second {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.article--first {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.article--second {
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.article--third {
  -ms-grid-row: 8;
  grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

.article--fourth {
  -ms-grid-row: 9;
  grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

footer {
  background-color: #f04e4e;
  -ms-grid-row: 10;
  grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/span 8;
}

@media screen and (min-width: 768px) {
  .main-content {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-column: 3/span 6;
  }
  .aside--first {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
  .aside--second {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/span 2;
  }
  .article--first {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
  .article--second {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/span 2;
  }
  .article--third {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/span 2;
  }
  .article--fourth {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/span 2;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #653e18;
  font-family: Arial, Helvetica, sans-serif;
}
