.main-wrapper {
  border: 1px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

header {
  background-color: #8a0b0b;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

.content {
  background-color: #6f60ee;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

aside {
  background-color: #b2b2b8;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

footer {
  background-color: #0a5e42;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
}

footer div:first-child {
  background-color: #a5f3d9;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

footer div:last-child {
  background-color: #635c5d;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

@media screen and (min-width: 600px) {
  .content {
    background-color: #6f60ee;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  aside {
    background-color: #b2b2b8;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    grid-column: 4;
  }
  footer div:first-child {
    background-color: #a5f3d9;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  footer div:last-child {
    background-color: #635c5d;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
