.headline {
    &--big {
        @include font-size(50);
    }
    &--fraktur {
        font-family: 'UnifrakturMaguntia', cursive;
    }
    .site-header & {
        text-align: center;
        margin: 20px 0;
    }
}